@using System.Activities.Statements
@model PicPop.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-8">
                @Html.LabelFor(m => m.Categories)
                <br />
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { onchange = "this.form.submit();" })
            </div>
        </div>
    }*@
<div class="container">
    <div class="row">

        <h2 class="text-center text-primary">Welcome to PicPop Image repository</h2><br /></br>
        <div id="carousel-example-generic" class="carousel slide carusel-backg col-md-10 col-md-offset-0 img-responsive " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                @if (Model.NumImages > 1)
                {
                    for (int i = 1; i < Model.NumImages; i++)
                    {
                <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                    }
                }
            </ol>

            @if (Model.ListImages.Any())
            {
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">

                        <img src="@Model.ListImages.First()" alt="..." class="img-carusel img-thumbnail img-responsive" />
                        <div class="carousel-caption">
                            <p class="text-center text-info"></p>
                        </div>
                    </div>

                    @foreach (var url in Model.ListImages.Skip(1))
                    {
                    <div class="item">
                        <img class="img-carusel img-thumbnail img-responsive" src="@url" alt="...">
                        <div class="carousel-caption">
                            <p class="text-center text-info"></p>
                        </div>
                    </div>
                    }

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
            <div>
                <h4 class="text-center text-info"><i>Latest Images Uploaded</i></h4>
            </div>
        </div>

        <div style="display:block" >

            <a href="">
                <img src="~/Content/Images/facebook.png" alt="" style="width:30px;height:30px;">
            </a>
            <a href="">
                <img src="~/Content/Images/linkedin.png" alt="" style="width:30px;height:30px;">
            </a>
            <a href="">
                <img src="~/Content/Images/rss.png" alt="" style="width:30px;height:30px;">
            </a>
            <a href="">
                <img src="~/Content/Images/googleplus.png" alt="" style="width:30px;height:30px;">
            </a>
        </div>




    </div>

</div>

<div class="row">
    </br>
    <h2 class="text-center text-info">Hew are same sample images.</h2><br />
</div>
<div class="container">
    <div class="row">
        <div id="portfolio-big" class="col-md-12">

            <div>
                @foreach (var url in Model.ListImages)
            {
                    <div class="col-md-3">
                        <img class="img-thumbnail img-responsive" src="@url" alt="...">
                    </div>
                }

            </div>
        </div>

    </div>

</div>