@model PicPop.Models.ImageSearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-8">
            @Html.LabelFor(m => m.Categories)
            <br />
            @Html.DropDownListFor(m => m.Id, Model.Categories, new { onchange = "this.form.submit();" })
        </div>
    </div>
}
<div class="row">
    <div class="span12 hidden-desktop">
    </div>
    <div class="span12">
        <div class="whity content">
            <div class="posts">
                <div class="entry">
                    <div class="padd">
                        <div id="portfolio">
                            @foreach (var item in Model.List)
                            {
                                <div>
                                    <div class="col-lg-12">
                                        <a href="@Url.Action("Details", "Image", new {id = item.Id})">
                                            <img src="@item.Blob" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            @item.Name
                                        </div>
                                        <div class="col-lg-4">
                                            @item.Amount
                                        </div>
                                        <div class="col-lg-4">
                                            @if (Request.IsAuthenticated)
                                            {
                                                <a href="#" data-id="@item.Id" class="AddToCart"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
